<%require 'pry'

if $loggedIn == false || $loggedIn == nil
	redirect "/login"

else %>

<head>
    <meta charset="utf-8">
    <title>CSV Admin</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
	
	<div id="wrapper">
		<div class="header">
			<h3>CSV Stop</h3>
		</div>
	
		<p class="loggedInNotification">You are currently logged in. Click <a href="/logout">here</a> to log out.</p>

		<h2>Please add your new line to the report:</h2>

		<form action="/admin" method="post">

			<p class="adminBars"><input type="text" name="Account" placeholder="Account Name" class="adminBox"> | 

			<input type="text" name="Date" placeholder="Date" class="adminBox"> | 

			<input type="text" name="Payee" placeholder="Payee" class="adminBox"> | 

			<input type="text" name="Category" placeholder="Category" class="adminBox"> | 

			<input type="text" name="Outflow" placeholder="Outflow" class="adminBox"> | 

			<input type="text" name="Inflow" placeholder="Inflow" class="adminBox"></p>

			<input type="submit">

		</form>

		<% @passHash.each do |name, balance| %>

			<h4>Account:  <%= name %> &emsp; Balance: $<%= balance[:total].round(2) %></h4>

			<table>
				<tr>
					<th>Category</th>
					<th>Amount</th>
					<th>Average per transaction</th>
				</tr>
				<% balance[:category].each do |category, t| %>
				<tr>
					<td><%= category %></td>	
					<td><%= t[:tally].round(2) %></td>
					<td><%= t[:avg_transaction].round(2) %></td>
				</tr>
			<% end %>
			</table>
			<br>
		<% end %>

		<% end %>
	</div>
</body>