<%require 'pry'

if $loggedIn == false || $loggedIn == nil
	redirect "/login"

else %>

<p>You are currently logged in. Click <a href="/logout">here</a> to log out.</p>

<h2>Please add your new line to the report:</h2>

<form action="/admin" method="post">

	<p><input type = "text" name = "Account" placeholder = "Account Name"></p>

	<p><input type = "text" name = "Date" placeholder = "Date"></p>

	<p><input type = "text" name = "Payee" placeholder = "Payee"></p>

	<p><input type = "text" name = "Category" placeholder = "Category"></p>

	<p><input type = "text" name = "Outflow" placeholder = "Outflow"></p>

	<p><input type = "text" name = "Inflow" placeholder = "Inflow"></p>

	<input type = "submit">

</form>

<% @passHash.each do |name, balance| %>
	<table border = "1">
		<tr>Account:<%= name %> &emsp; Balance: $<%= balance[:total].round(2) %></tr>
		<tr>
			<td>Category</td>
			<td>Amount</td>
			<td>Average per transaction</td>
		</tr>
	<% balance[:category].each do |category, t| %>
		<tr>
			<td><%= category %></td>	
			<td><%= t[:tally].round(2) %></td>
			<td><%= t[:avg_transaction].round(2) %></td>
		</tr>
	<% end %>
	</table>
	<br>
<% end %>

<% end %>